.program-wrapper {
    color: black;
    background-color: #ffce00;
    margin-bottom: 3em;
}

.program-header {
    display: block;
    background-color: #eebd00;
    text-align: center;
}

.program-header {
    display: inline-block;
    font-size: 4em;
    font-family: chantal-light, Arial;
    background-color: #ef262c;
    /* margin-left: 0.8rem; */
    margin-top: 1rem;
    padding: 0 0.5em;
}

.program-card-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

@font-face {
    font-family: "chantal-light";
    src: url("/src/assets/fonts/chantal-light.otf");
}
/* Media query for mobile screens */
@media (max-width: 768px) {
    .program-header {
        max-width: 100%;
        display: inline-block;
    }
    .program-card-wrapper {
        flex-direction: column;
    }
}
