.page-title-container {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.page-title {
    font-size: 5rem;
    padding: 1rem 2rem;
    border-radius: 15px;
    background-color: var(--color-uka-red);
    display: inline-block;
}
