.mainLogo {
    position: relative;
    margin: 0 auto;
    width: 20vw;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3))
        drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3))
        drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.3));
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.homePage {
    background-color: rgb(243, 231, 187);
}

.tree-spotify-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 12vw;
    background-color: rgb(255, 195, 117);
}

.sign-tree-wrapper {
    transform: rotate(50deg);
    scale: 1.4;
}

iframe {
    width: 30rem;
    margin-top: 3rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    .tree-spotify-wrapper {
        flex-direction: column;
    }
}
