.date-header {
    display: block;
    text-align: center;
    font-size: 4em;
    padding-top: 2em;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .date-header {
        font-size: 2em;
    }
}
