.janne-statement-page {
    background-color: var(--color-uka-lightlight-yellow);
}
.statement-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 700px;
}
.statement-wrapper h1 {
    margin: 0 0 1rem 0;
    font-size: 4rem;
    font-family: chantal-medium;
    padding-top: 2rem;
}
.statement-wrapper h2 {
    margin: 1rem 0 1rem 0;
    font-size: 2rem;
}
.statement-wrapper p {
    margin: 2rem 0 2rem 0;
    font-size: 1.5rem;
}
.statement-photo {
    width: 100%;
}
.statement-wrapper .signature {
    /*bold font*/
    font-weight: bold;
}

@media (max-width: 800px) {
    .statement-wrapper {
        width: 100%;
    }

    .statement-wrapper > p {
        padding: 0 1rem;
    }
    .statement-wrapper h1 {
        font-size: 3rem;
    }
}
