.countdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: "Arial";
    background-color: rgba(0, 0, 0, 0.5);
    font-family: inherit;
    padding: 1em 0 1em 0;
}

.countdown-timer-header {
    font-size: 3em;
}

.countdown-wrapper * {
}

.timer-field {
    display: flex;
}

.time-unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    margin: 0 3em;
}

.time-value {
    font-size: 5em;
    color: white;
}

.time-label {
    text-transform: uppercase;
}
