.countdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: "Arial";
    font-family: inherit;
    padding: 1em 0 1em 0;
    justify-content: space-between;
    color: #ffce00;
}

.countdown-timer-header {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

.timer-field {
    display: flex;
}

.time-unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    margin: 0 3em;
}

.time-value {
    font-size: 5em;
}

.time-label {
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .time-value {
        font-size: 2em;
    }

    .countdown-timer-header {
        font-size: 2em;
    }

    .time-unit {
        margin: 0 0.5em;
    }
}
