.desktop-header {
    height: 5rem;
}

.desktop-header + .header-placeholder {
    height: 5rem;
}

.desktop-header {
    width: 100%;
    background-color: var(--color-uka-yellow);
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-right: 10%;
    z-index: 1;
}

.headerLogo {
    width: 7rem;
}
