.footer {
    display: block;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.footer-content-wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: inherit;
}

.some-wrapper {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    align-items: center;
}

.info-box {
    flex: 5;
    display: block;
}

a {
    color: black;
}

.some-icon {
    background-color: grey;
    border-radius: 50%;
    padding: 5px;
    margin: 0 0.5em;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.some-icon img {
    transition: filter 0.25s ease;
}
.some-icon:hover img {
    filter: invert(0.95);
}
.fb-icon {
    background-color: rgb(84, 115, 145);
}

.insta-icon {
    background-color: rgb(204, 141, 133);
}

.fb-icon:hover {
    background-color: rgb(0, 69, 138);
}

.insta-icon:hover {
    background-color: rgb(180, 63, 165);
}
