.burger-wrapper {
    padding: 10px;
    position: fixed;
    z-index: 4;
    top: 0.3em;
    right: 0.2em;
    border-radius: 50%;
    display: flex;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
}

.burger {
    font-size: 3em;
}

.sidebar {
    height: 100%;
    position: fixed;
    z-index: 2;
    right: 0;
    padding-top: 5em;
    background-color: rgba(255, 206, 0, 0.9);
    transition: right 0.5s ease-in-out;
}

.sidebar-enabled {
    right: 0;
    color: black;
}

.sidebar-disabled {
    right: -17em;
    color: white;
}

.overlay {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease-in-out;
}

.overlay-enabled {
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-disabled {
    background-color: rgba(0, 0, 0, 0);
}
