.program-wrapper {
    color: black;
    background-color: #ffce00;
    margin-bottom: 3em;
}

.program-header {
    display: block;
    background-color: #eebd00;
    text-align: center;
}

.program-card-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .program-card-wrapper {
        flex-direction: column;
    }
}
