.sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    padding-top: 5em;
    border-left: 2px solid black;
    justify-content: center;
    gap: 2em;
    width: 15em;
}

.sidebar-button {
    font-size: 2em;
    margin: 10px 0;
    border-radius: 5px;
    padding: 0.5em 1em;
    background-color: transparent;
}

.sidebar-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
