* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    font-family: chantal-medium, Roboto, sans-serif;
    --color-uka-yellow: #ffce00;
    --color-uka-light-yellow: #fff3c1;
    --color-uka-red: #ef262c;
    --color-uka-black: #0c0c0c;
    --color-uka-white: #f7f7f7;
    color: var(--color-uka-black);
    background-color: var(--color-uka-light-yellow);
}

.hidden {
    opacity: 0;
    /* transform: translateY(50px); */
    /* transition: opacity 1s ease, transform 1s ease; */
}

.visible {
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1;
    /* transform: translateY(0); */
}

.pointer-passthrough {
    pointer-events: none;
}
@font-face {
    font-family: "chantal-medium";
    src: url("/src/assets/fonts/chantal-medium.otf");
}
@font-face {
    font-family: "chantal-light";
    src: url("/src/assets/fonts/chantal-light.otf");
}
@font-face {
    font-family: "degular-light";
    src: url("/src/assets/fonts/degular-light.otf");
}
